
body {
    padding: 20px;
    margin: auto;
    text-align: center;
    font-family: "segoe ui", Verdana, Sans-serif;
}

.board {
    display: inline-block;
    border: 2px solid #948f2f;

}

.row {
    overflow-x: hidden;
    vertical-align: top;
}

.row:nth-child(odd) > .cell:nth-child(odd) {
    background: #948f2f;
}

.row:nth-child(even) > .cell:nth-child(even) {
    background: #948f2f;
}
.cell {
    width: 70px;
    height: 70px;
    display: inline-table;
    margin: 2px;
    background: lightsteelblue;
    overflow: auto;
    float: left; /*prevents headache zigzag*/
}

img {
    width: 90%;
    padding: 0;
    margin: 0;
}

.logbook {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    margin: 12px;
    background: rgba(255, 181, 249, 0.29);
    width: auto;
    border: 2px solid #234231;
}








